*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
core/build/
ui/build/
# Gradle
.gradle/
build/
# Kotlin
*.kt.class
# Android Studio
.idea/
*.iml
*.iws
# Local configuration file (sdk path, etc)
local.properties
# Log Files
*.log
